data/
model_dir/
logs
logs/
logs.bak/
model_dir
results/
results-minit-wo_preprocess/
results-mnist-preprocess_all/
results-restrict_input/*
model_dir*/
results*/
scripts/*
track_progress/*
model_dir*
results*
test*

slurm-gpu-job.out
*.tgz
*.pyc
#train*.sh
#run*.sh
RESULTS.txt
*.tgz
*.swp
